      /*Login Styling Begin*/
      .login-form,
      .register-button {
        margin-left: 20px
      }

      .login-header, 
      .register-header {
        font-family: 'Raleway Dots', cursive;
        font-size: 50px;
        color: darkblue;
      }

      #email, 
      #password {
        font-family: 'Roboto','sans-serif';
        font-size: 15px
        padding-bottom: 10px;
      }

      #loginButton,
      #redirectToRegisterButton, 
      #registerButton {
        font-family: 'Roboto','sans-serif';
        background-color: rgb(137,206,233);
        border-radius: 4px;
        color: white;
        font-size: 15px;
        padding: 5px 12px;
        margin-top: 10px;
        border: .5px solid rgb(137,206,233);
      }

      #redirectToRegisterButton {
        margin-left: 35px;
      }

      /*End Login Styling*/

      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        margin: 0;
        padding: 0;
        background-image:url("../images/bg.jpg");
        background-size: cover;
         background-repeat: no-repeat;
      }
      #app{
         overflow: hidden
      }
      #map {
        float: left;
        width: 100%;
        height: 400px;
        position: relative;
        margin-left: 30px;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 100%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        font-size: 15px;
        color: rgb(251, 17, 19);
      }
      .navbar-default{
        background-color: transparent;
        border-color:transparent;
      }
      #navbar{
        padding-top: 10px;
        font-family: 'Raleway Dots', cursive;
      }
     
#navitem{
   font-size: 50px;
   color: darkblue;
}